.profile_imgs{
    margin: auto;
    height: 65px;
    width: 65px;
    vertical-align: middle;
    border-radius: 100%;
    border: 2px solid white;
}

.sgv_icon{
    background-color: greenyellow;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid rgb(14, 93, 14);
    margin-right: 10px;
}
.main {
    background: url(./assets/bg1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: -10px;
    padding-right: -10px;
    
}

.learning-div{
    background: rgba(1, 48, 87, 0.226);
    color: #fff;
    text-align: start;
}

.into-div{
    background-color: rgba(12, 117, 236, 0.308);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
       
}

.projects-div{
    background-color:rgba(1, 48, 87, 0.226);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
     
}

#div-heading{
    color: white;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

.projects_li{
    color: rgba(84, 84, 245, 0.849);
    font-size:  large;
    font-family: georgia;
    font-weight: 600;
}

.learnin_li{
    font-size: large;
    font-weight: 700;
    font-family: sans-serif;
}

#learning_small{
    color: rgba(93, 112, 102, 0.877); 
    padding-left: 7px;
    font-style: oblique;
    font-size: small;
}

/* styles for the university blog component */

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
    font-size: 2.5rem;
}
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}

.alert_h{
    font-weight: 500;
    border-bottom: 1px solid gray;
}
 small{
     -webkit-flow-into: small;
     font-weight: 300;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .para{
     background-color: rgba(3, 18, 46, 0.429);
     font-family: "Times New Roman";
     font-size: large;
     color: white;
     padding: 7px;
 }
/* Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman */